/* put your own styles to customize and override the theme */
.auth-header{
    padding:0;
  background-color: #0000 !important;
}
/*.btn-block{*/
/*  background-color: #b0d5aa !important;*/
/*}*/
#background-video {
position: absolute;
top: 0;
width: 100%;
left: 0;
z-index: -1;
height: 150vh;
}
.auth{
background-color: #0000 !important;
}
body {
background-color: #ffffff00;
}
video {
width: 100%;
position: absolute;
}
.auth {
justify-content: center;
}
footer.auth-footer {
display: none;
}
.btn-block {
background-color: #fee715ff !important;
color: #101820ff;
font-weight: 900;
border-color: #101820ff;
}
.form-control {
display: block;
width: 100%;
height: calc(1.5em + 0.75rem + 2px);
padding: 0.375rem 0.75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #000000;
background-color: #ffffff;
}
.auth-form {
padding: 3rem 2rem 1rem;
max-width: 420px;
border-radius: 0.25rem;
background-color: #222230;
box-shadow: 0 0 0 1px rgb(20 20 31 / 5%), 0 1px 3px 0 rgb(20 20 31 / 15%);
background: rgba( 0, 0, 0, 0.45 );
box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 3px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.gradient-custom-3 {
/* fallback for old browsers */
background: #84fab0;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}
.gradient-custom-4 {
/* fallback for old browsers */
background: #84fab0;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}
.auth-form h1.signup-title {
text-align: center;
color: #fee715;
text-shadow: 2px -2px black;
}
/* .auth-form a {
color: #fee715;
} */
.auth-form a.btn.btn-block.btn-light:hover {
    color: #fff !important;
    text-shadow: 2px 2px 3px black;
}
.auth-form small {
    color: #fff;
}
.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
    color: #ffffff;
}
.tradingview-widget-container{
    width: 100% !important;
}
.tradingview-widget-container iframe,.tradingview-widget-container div{
    width:100% !important;
}
.ranks-section h4 {
    color: #fbae1c !important;
    font-weight: revert;
    font-size: 30px;
    text-shadow: 3px 2px 2px #000;
}
#alltransaction td,#alltransaction th {
    background: #fff !important;
    color: #000;
}
.theme-yellow .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    border: 1px solid #fbae1c !important;
    background-color: #fbae1c !important;
}
.theme-yellow .btn-primary:hover {
    background-color: #ffb833 !important;
    border-color: #000000 !important;
    color: #fff !important;
}
.page-title-bar .breadcrumb {
    background: rgba( 0, 0, 0, 0.4 ) !important;
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%) !important;
    backdrop-filter: blur( 4px ) !important;
    -webkit-backdrop-filter: blur( 4px ) !important;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
}
.dark-skin .card {
    background: rgba( 0, 0, 0, 0.4 ) !important;
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%) !important;
    backdrop-filter: blur( 4px ) !important;
    -webkit-backdrop-filter: blur( 4px ) !important;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
}
.theme-yellow .btn-primary {
    background-color: #fbae1c !important;
    border-color: #000000 !important;
    color: #fff !important;
    text-shadow: 1px 1px 1px black !important;
    padding: 5px 10px;
}
.page-inner label {
    color: #fbae1c;
    font-weight: 900;
    text-shadow: 2px 2px 1px #000;
}
.dark-skin .main-footer {
    margin-left: 0px !important;
}

.tab-slider--nav {
    width: 100%;
    float: left;
    margin-bottom: 20px;
  }

  .tab-slider--tabs {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    border-radius: 35px;
    overflow: hidden;
    background: #fff;
    height: 45px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .tab-slider--tabs:after {
    content: "";
    width: 50%;
    background: #fbae1c;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 250ms ease-in-out;
    border-radius: 35px;
}
  .tab-slider--tabs.slide:after {
    left: 50%;
  }

  .tab-slider--trigger {
    font-size: 22px;
    line-height: 1;
    font-weight: bold !important;
    color: #fbae1c;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
    text-align: center;
    padding: 11px 20px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: inline-block;
    transition: color 250ms ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  .tab-slider--trigger.active {
    color: #fff;
  }

  .tab-slider--body {
    margin-bottom: 20px;
  }
  .container.tabs-switch {
    padding: 100px 50px;
}
.copy-code-button {
    color: #fff;
    background-color: #fbae1c;
    border-color: #272822;
    text-shadow: 1px 1px 1px black;
    border: 2px solid #000;
    border-radius: 3px 3px 0px 0px;
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: -2px;
    padding: 3px 8px;
    font-size: 0.8em;
}
.copy-code-button:hover {
    cursor: pointer;
    background-color: #F2F2F2;
}

.copy-code-button:focus {
    /* Avoid an ugly focus outline on click in Chrome,
       but darken the button for accessibility.
       See https://stackoverflow.com/a/25298082/1481479 */
    background-color: #E6E6E6;
    outline: 0;
}

.copy-code-button:active {
    background-color: #D9D9D9;
}

.highlight pre {
    /* Avoid pushing up the copy buttons. */
    margin: 0;
}
.code-blk + .copy-code-button {
    display: none;
}
.highlight {
    background: #000;
}
.dark-skin code {
    font-size: 32px;
    border: unset;
    background-color: #000000;
    color: #fbae1c;
    position: relative;
    top: 10px;
}
.dark-skin .main-footer {
    background-color: rgba(51, 51, 51, 0.8);
    color: #ffffff;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    position: absolute;
    bottom: 0;
    width: 100%;
}
a.btn.btn-sm.btn-success {
    background-color: #fbae1c !important;
    border-color: #000000 !important;
    color: #fff !important;
    text-shadow: 1px 1px 1px black !important;
    padding: 5px 10px;
}
table.dataTable {
    width: 100% !important;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }

.node text {
    font: 6px sans-serif;
    fill: #fff !important;
}
.tree-map {
    overflow-x: scroll;
    overflow-y: hidden;
}

.report-filter select,.report-filter input {
    padding: 10px 25px;
    outline: 0;
    margin: 5px;
}
.report-filter select{
    padding: 13px 25px;
}
